* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "justsans";
  src: url("fonts/JUST-Sans-Regular.woff2") format("woff2"),
  url("fonts/JUST-Sans-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "justsans";
  src: url("fonts/JUST-Sans-SemiBold.woff2") format("woff2"),
  url("fonts/JUST-Sans-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "justsans";
  src: url("fonts/JUST-Sans-Bold.woff2") format("woff2"),
  url("fonts/JUST-Sans-Bold.woff") format("woff");
  font-weight: 700;
}

:root {
  --clr-text: #032603;
  --clr-background: #f5f8f5;
  --clr-primary: #4dce54;
  --clr-secondary: #e3e8e3;
  --clr-accent: #ef7c43;

  --clr-gradient: linear-gradient(
                  to bottom right,
                  var(--clr-primary) 0%,
                  var(--clr-accent) 100%
  );

  color: var(--clr-text);
  font-family: "justsans", sans-serif;
}

@for $i from 0 through 5 {
  .mt-#{$i} {
    margin-top: #{$i * .5rem};
  }

  .mb-#{$i} {
    margin-bottom: #{$i * .5rem};
  }


  .ml-#{$i} {
    margin-left: #{$i * .5rem};
  }

  .mr-#{$i} {
    margin-right: #{$i * .5rem};
  }

  .mx-#{$i} {
    margin-inline: #{$i * .5rem};
  }

  .my-#{$i} {
    margin-block: #{$i * .5rem};
  }

  .p-#{$i} {
    padding: #{$i * .5rem};
  }

  .pt-#{$i} {
    padding-top: #{$i * .5rem};
  }

  .pb-#{$i} {
    padding-bottom: #{$i * .5rem};
  }

  .pl-#{$i} {
    padding-left: #{$i * .5rem};
  }

  .pr-#{$i} {
    padding-right: #{$i * .5rem};
  }

  .px-#{$i} {
    padding-inline: #{$i * .5rem};
  }

  .py-#{$i} {
    padding-block: #{$i * .5rem};
  }
}

html, body {
  background-color: var(---clr-background);
}

main {
  margin-inline: auto;
  padding-block: clamp(20px, 5vw, 3.5rem);
  width: min(97%, 900px);
}

.text-gradient {
  background: var(--clr-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  text-align: center;
  font-size: clamp(2rem, 5vw, 3.5rem);
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

h3 {
  font-size: clamp(1.25rem, 3vw, 2rem);
}

h4 {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

code, pre, .code {
  font-family: monospace;
}

input, textarea, select {
  box-sizing: border-box;
  overflow-y: auto;
  outline: none;
  border: 1px solid #ccc;
  width: 100%;

  &:is(textarea) {
    resize: vertical;
    min-height: max(1.5em, 5vh);
    max-height: 50vh;
  }
}

input, textarea, select, button, .button {
  font-family: "justsans", sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  padding: .5rem 1rem;
}

button, .button {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-primary);
  color: var(--clr-background);
  transition: all 250ms ease-in-out;

  &.margin {
    @extend .mt-2;
  }

  &.full {
    width: 100%;
  }

  &:hover {
    transform: scale(.9);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (min-width: 700px) {
    gap: 2rem;
  }
}

.center {
  text-align: center;
  margin-inline: auto;
}

p:not(.unlimited) {
  max-width: 60ch;
}
