@use "utils";

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "justsans";
  src: url("fonts/JUST-Sans-Regular.woff2") format("woff2"),
  url("fonts/JUST-Sans-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "justsans";
  src: url("fonts/JUST-Sans-SemiBold.woff2") format("woff2"),
  url("fonts/JUST-Sans-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "justsans";
  src: url("fonts/JUST-Sans-Bold.woff2") format("woff2"),
  url("fonts/JUST-Sans-Bold.woff") format("woff");
  font-weight: 700;
}

html, body {
  background-color: var(--clr-background);
}

main {
  margin-inline: auto;
  padding-block: clamp(20px, 5vw, 3.5rem);
  width: min(95%, 900px);

  min-height: 100vh;
}

.text-gradient {
  background: var(--clr-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5em;
}

h1 {
  text-align: center;
  font-size: clamp(2rem, 5vw, 3.5rem);
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

h3 {
  font-size: clamp(1.25rem, 3vw, 2rem);
}

h4 {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

code, pre, .code {
  font-family: monospace;
}

input, textarea, select, p[contenteditable], span[contenteditable], div[contenteditable], [contenteditable="true"] {
  box-sizing: border-box;
  overflow-y: auto;
  outline: none;
  border: 1px solid var(--clr-border);
  background-color: var(--clr-input);
  width: 100%;
  transition: all 250ms;

  &:is(textarea) {
    resize: vertical;
    min-height: max(1.5em, 5vh);
    max-height: 50vh;
  }

  &:focus {
    box-shadow: inset 1px 1px 3px rgba(0 0 0 / 15%);
  }
}

html body :is(input, textarea, select, button, .button, p[contenteditable], span[contenteditable], div[contenteditable]) {
  font-family: "justsans", sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  padding: .5rem 1rem;
  max-width: unset;
}

button, .button {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-primary);
  color: var(--clr-background);
  transition: all 250ms ease-in-out;

  &.margin {
    @extend .mt-2;
  }

  &.full {
    width: 100%;
  }

  &:hover {
    transform: scale(.9);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (min-width: 700px) {
    gap: 2rem;
  }
}

.center {
  text-align: center;
  margin-inline: auto;
}

.limited {
  max-width: 60ch;

  &:not(.left) {
    margin-inline: auto;
  }
}

p:not(.unlimited) {
  max-width: 60ch;
}

.muted {
  opacity: .5;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (min-width: 700px) {
    flex-direction: row;
    gap: 2rem;
  }

  &.space-between {
    justify-content: space-between;
  }
}

.title {
  position: relative;
  margin-bottom: 3rem;

  @media screen and (min-width: 700px) {
    margin-bottom: 4rem;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 5rem;
  }
}

.floating-title {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translateY(-100%);
  padding: 1rem;
  background-color: var(--clr-background);
  box-shadow: var(--shadow-lg);
  transition: all 250ms ease-out;

  &.show {
    transform: translateY(0);
  }

  strong {
    font-size: clamp(1.25rem, 4vw, 2rem);
  }
}

body.floating-title main {
  padding-top: 12.5rem;
}

strong.is-headline {
  display: inline-block;
  font-size: 1.75rem;
  font-style: normal;

  &.small {
    font-size: 1.5rem;
  }

  &.smaller {
    font-size: 1.25rem;
  }
}

.information {
  margin-top: 5rem;
  font-size: .8rem;

  &:not(.not-italic) {
    font-style: italic;
  }

  @media (hover: hover), (min-width: 700px) {
    margin-top: 7.5rem;
    opacity: .5;
    transition: all 250ms;

    &:hover {
      opacity: 1;
    }
  }
}

.stats-box {
  flex-basis: 100%;
  text-align: center;

  @extend .fs-box;
  @extend .shadow;
  @extend .md;

  > span {
    display: inline-block;
    opacity: .5;
    margin-top: .25rem;
  }
}

.input-information {
  margin-top: .25rem;
  padding: .25rem .5rem;
  background-color: var(--clr-input);
  border: 1px solid var(--clr-input);
  border-radius: 5px;
  font-size: .8rem;
  color: var(--clr-border);

  display: flex;
  gap: .5rem;
  flex-wrap: wrap;

  @media (min-width: 700px) {
    gap: 1.5rem;
  }

  @media (min-width: 1000px) {
    gap: 2.5rem;
  }
}
